<div class="trip-card col-lg-4 col-md-6 col-sm-12">
  {{#link-to 'trip' trip}}
  <h3 class="trip-header">{{trip.location}}</h3>
  {{/link-to}}

  <p>{{trip.start_date}}</p>
  <p>{{trip.end_date}}</p>
  <p>{{trip.who}}</p>
  <p>{{trip.more_info}}</p>

  <button class="btn btn-primary" {{action 'edit'}}>Edit</button>
  <button class="btn btn-danger" {{action 'delete'}}>Delete</button>

  <br>
  <br>
</div>
