{{#link-to 'trip' trip}}
  <h3 class="trip-header">{{trip.location}}</h3>
{{/link-to}}

<ul>
  <li>{{trip.start_date}}</li>
  <li>{{trip.end_date}}</li>
  <li>{{trip.who}}</li>
</ul>

<button class="btn btn-primary" {{action 'edit'}}>Edit</button>

<br>
<br>
