<span class="trip-plan">
  <div style="border: 1px dashed red" {{action 'toggleImportant'}}>


    <ul>
      <li>{{plan.who}}</li>
      <li>{{plan.what}}</li>
      <li>{{plan.location}}</li>
      <li>{{plan.date}}</li>
      <li>{{plan.time}}</li>
    </ul>
  </div>
</span>
