<h3 class="trip-header">{{trip.location}}</h3>
<h4>{{trip.who}}</h4>
<h4 class="trip-subheader">{{trip.more_info}}</h4>
<ul>
  {{#each trip.plans as |plan|}}
    {{trips-list/plan plan=plan toggleImportant='togglePlanImportant'
                                toggleStrict='togglePlanStrict'
                                delete='deletePlan'}}
  {{/each}}
</ul>

<br>

<form>
  {{input placeholder="Who's going? (ex \"Jim, Sally, Gunther\" or \"All\")"
          class="input-group form-control"
          value=newPlan.who}}

  {{input placeholder="What are you doing?"
          class="input-group form-control"
          value=newPlan.what}}

  {{input placeholder="Where?"
          class="input-group form-control"
          value=newPlan.location}}

  {{textarea placeholder="More info?"
          class="input-group form-control"
          value=newPlan.more_details}}

  {{input placeholder="yyyy-mm-dd"
          class="input-group form-control"
          value=newPlan.date
          type="date"}}

  {{input placeholder="yyyy-mm-dd"
          class="input-group form-control"
          value=newPlan.time
          type="time"}}

  <button type="submit" class="btn btn-primary" {{action "createPlan"}}>Create Plan</button>
  <button class="btn btn-default" {{action "reset"}}>Cancel</button>

</form>

<br>

{{#link-to 'trips'}}Back{{/link-to}}
